@{
    ViewBag.Title = "GenerateHackerToken";
}

<div class="container">
    <div class="hero-unit">
        <h2>Generate Hacker Token</h2>
        <p>
            The following hacker token was generated:
        </p>
        <div class="alert">
            <strong>@ViewBag.token</strong>
        </div>
    </div>
</div>
