@model HackerCentral.Models.RegisterTokenModel

@{
    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "HackerToken", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @class="form-signin"}))
{
    @Html.AntiForgeryToken()

    
    <h2 class="form-signin-heading">Register secret token</h2>
    @Html.TextBoxFor(m => m.Token, new { placeholder = "Token", @class = "input-block-level", type = "text" })
    <button class="btn btn-large btn-primary" type="submit">Register</button>
    
}