@model HackerCentral.Models.LocalPasswordModel


<div class="alert alert-info">
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</div>


@using (Html.BeginForm("Manage", "Account", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.LabelFor(m => m.NewPassword, new { placeholder="New Password" })
    @Html.LabelFor(m => m.ConfirmPassword, new { placeholder="New Password" })
    <input type="submit" class="btn btn-primary" value="Set password" />
}
