@model HackerCentral.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div id="maincontent">
    <iframe id="externalcontent" src="@System.Configuration.ConfigurationManager.AppSettings[Model.UserProfile.AuthProvider.ToString()]"></iframe>
</div>
