@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="hero-unit">
        <h2>Welcome to IDEASPERE!
        </h2>
        <p>
            In order to take part in the
        <abbr title="TODO">IDEASPERE</abbr>
            research project you must log in with any of the following supported services. These services are used for your convienience so you don't have to make new accounts and jugle passwords; our system cannot and does not access any information from any of these services.
        </p>
        @Html.Action("ExternalLoginsList", "Account")
    </div>
</div>
