@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="hero-unit">
        <h2>Welcome to
            <abbr title="Intelligent Deliberation, Experimentation, and Analysis Space for Public
Engagement, Research, and Education">
                IDEASPERE</abbr>!
        </h2>
        <p>
            In order to take part in the
        <abbr title="Intelligent Deliberation, Experimentation, and Analysis Space for Public
Engagement, Research, and Education">
            IDEASPERE</abbr>
            please log in using the information provided to you by your instructor. You also need to enable cookies on your web browser. You can enable cookies, if you need to, by clicking  
        <a href="http://www.wikihow.com/Enable-Cookies-in-Your-Internet-Web-Browser" target="_blank">Enable Cookies</a>
        </p>
        @*<button type="submit" class="btn btn-primary" name="login" value="login" title="">Login</button>
        <button type="submit" class="btn btn-primary" name="register" value="register" title="">Regsister</button>*@
        @Html.ActionLink("Login", "Login", "Account")
        &nbsp&nbsp
        @Html.ActionLink("Register", "Register", "Account")
        @*@Html.Action("ExternalLoginsList", "Account")*@        
    </div>
    <div>
        <iframe id="externalcontent" src="http://129.93.238.144/logout" style="visibility:hidden;display:none"></iframe>
    </div>
</div>
