@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the Research Project!</h1>
<p>You see this page when you've visited the site but have not logged in yet.</p>
<p>@Html.ActionLink("Click Here to Login", "Login", "Account")</p>