/* Note: This file defines custom styles for the site.  It overrides any default bootstrap styles. */

#maincontent {
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 41px;
    width: 100%;
}

#externalcontent {
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
}

#logoutForm {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: absolute;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.popover {
    min-width: 186px;   
}

.point {
    border-radius: 5px;
    background-color: #b9b9b9;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
}

    .point h4 {
        margin: 0px;
        padding: 0;
        font-size: 14px;
        line-height: 14px;
    }

    .point p {
        margin: 0;
        padding: 0;
    }

    .point .actions {
        margin-top: 10px;
    }

.nested {
    margin-left: 30px;
}
