@{
    ViewBag.Title = "Invalid Token Error";
}

<div class="container">
    <div class="hero-unit">
        <h2>Token Registration Failed</h2>
        <div class="alert alert-error">
            <strong>Potential security breach:</strong> A potential security breach by <strong>@ViewBag.Name</strong> has been detected. If a valid token is not register shortly, the current activity will be deemed suspicious and proper authorities will be notified.
        </div>
    </div>
</div>
