@{
    ViewBag.Title = "RegistrationSuccess";
}

<div class="container">
    <div class="hero-unit">
        <h2>Administrative privilege granted</h2>
        <div class="alert alert-success">
            <strong>Congratulations @ViewBag.Name: </strong>your account has been upgraded with administrative privilege.
        </div>
        <p>
            You can create, edit and delete the points and point properties of all users through the menu bar bellow.
        </p>
        <p>
            As an administrator it is your responsibility to investigate and report any suspecious behavoir and to reprimand users who gain unauthorised system access.
        </p>
    </div>
</div>
