@model HackerCentral.Models.AccessDenied

@{
    ViewBag.Title = "Blocked";
}

<div class="container">
    <div class="hero-unit">
        <h2>Access Denied</h2>
        <div class="alert alert-error">
            Your account has been suspended and consequently is unauthorized to access "@Model.Resource".
        </div>
    </div>
</div>